/* contains the entire app */
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* the following that has a border */
#follwinf{
    text-align: center;
    justify-content: center;
    font-size: 50%;
    font-weight: bold;
border: 0.5px solid grey;
border-radius: 4px;
}


/* contains the instagram, checkmark, following and '...'  */
#heading {
    /* height: 20%; */
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* the links for posts, followers and following */
#top {
    justify-content: left;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* the posts, followers and following, split into 3 */
#split-three {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/* the plain text for the posts, followers and following */
.top-font {
   display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* link at the bottom */
.bottom-link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #385185;
}

/* instagram photo */
#icon{
    display: flex;
    flex-direction: row;
    align-items: left;
    height: 200px;
}
/* middle div */
#heading{
    display: flex;
    flex-direction:row ;
}


/* i want this to be in the center of the page */
#bio,
#subheading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: flex;
flex-direction: column;
justify-content: left;
}

 p{
    display: flex;
    flex-direction: column;
    justify-content: left;
} 

#subheading {

    font-weight: bold;
}

/* checkmark */

.image {
    height: 20px;
    width: 20px;
}
/* grayed out text preceding the links  */
#followed-by{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color:grey;
    font-size: small;
    font-weight: bold;
}
/* followed by `thedailyshow` and kevin links */
.followed-link{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:black;
}
/* matches the logo provided */

body{
background-color: #FAFAFA;
}
/* text in footer */
.text-of-pic{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-align: center  ;
    /* width: [width of img] */
}

#footer{ 
    
    display: flex;
    flex-direction: row;
    /* how can i center it and space them evenly */
    justify-content:space-evenly;
    width: 80%;
    /* height: 100px; */
    /* margin: 0 auto; */

 }
/* this will alter all the images */
img{ 

display: flex;
justify-content: center;
height: 100px;
width: auto;
/* flex-direction: row; */
}


/* i want to just alter the profile pic */
